.git
.github
.gitignore
.editorconfig
.env.example
.env
README.md
docs
tests
phpunit.xml
docker-compose.override.yml
node_modules
vendor
npm-debug.log
*.log
.DS_Store
Thumbs.db
.pytest_cache
.phpunit.cache
docker/mysql/data
docker/redis/data
bootstrap/cache/*.php
public/hot
